@model PojisteniApp.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex">
    <div class="imgtop">
        <img src="@Url.Content("/images/Avatar-128.png")" alt="Avatar" />
    </div>
    <div class="justify-content-sm-between detailname">
        <h3>@ViewBag.Jmeno</h3>
        <p>@ViewBag.Adress</p>
        <p>@ViewBag.City</p>
        <p>@ViewBag.PSC</p>
    </div>
    <div class="justify-content-sm-end detailemail">
        <p>@ViewBag.Email</p>
        <p>@ViewBag.Phone</p>
    </div>
</div>

<h3>Sjednaná pojištění</h3>

<table class="table table-bordered table-hover table-responsive-sm">
    <thead>
        <tr>
            <th>
                Pojištění
            </th>
            <th>
                Částka
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Insurances)
        {
            <tr>
                <td>
                    <a asp-controller="Insurances" asp-action="Details" asp-route-id="@item.Id">@item.Option</a>
                </td>
                <td>
                    @item.Amount Kč
                </td>
                    @if (User.IsInRole("admin"))
                    {
                <td>
                        <a class="btn btn-danger" asp-controller="Insurances" asp-action="Delete" asp-route-id="@item.Id" asp-route-value="@Model?.Id">Odstanit</a>
                        <a class="btn btn-warning" asp-controller="Insurances" asp-action="Edit" asp-route-id="@item.Id">Editovat</a>
                </td>
                    }
            </tr>
        }
    </tbody>
</table>


<div class="text-sm-center p-4">
    @if (User.IsInRole("admin"))
                    {
    <a class="btn btn-primary" asp-controller="Insurances" asp-action="Create" asp-route-value="@Model?.Id">Přidat Pojištění</a>
                    }
    @if (User.IsInRole("admin"))
    {
        <a class="btn btn-warning" asp-controller="Customers" asp-action="Edit" asp-route-id="@Model?.Id">Editovat Pojištěnce</a>
    }
    @if (User.IsInRole("admin"))
                    {
    <a class="btn btn-danger" asp-controller="Customers" asp-action="Delete" asp-route-id="@Model?.Id">Odstranit Pojištěnce</a>
                    }
     @if (User.IsInRole("customer")){
        <a class="btn btn-warning" asp-controller="Customers" asp-action="Edit" asp-route-id="@Model?.Id">Editovat </a>
     }
</div>
